﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="candidates, career, employment, freelance, glassdoor, Human Resource Management, indeed, job board, job listing, job portal, job postings, jobs, listings, recruitment, resume">
    <meta name="CreativeLayers" content="ATFN">
    <!-- css file -->
    <link rel="stylesheet" href="~/lib/app/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/app/css/style.css">
    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="~/lib/app/css/responsive.css">
    <!-- Title -->
    <title>@ViewData["Title"] - CareerUp</title>
    <!-- Favicon -->
    <link href="~/lib/app/images/favicon.ico" sizes="128x128" rel="shortcut icon" type="image/x-icon" />
    <link href="~/lib/app/images/favicon.ico" sizes="128x128" rel="shortcut icon" />
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="~/lib/app/https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="~/lib/app/https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
    <div class="wrapper">
        <div class="preloader"></div>

        <!-- Main Header Nav -->
        <header class="header-nav style_one dashbord_menu dashbord navbar-scrolltofixed main-menu">
            <div class="container">
                <!-- Ace Responsive Menu -->
                <nav>
                    <!-- Menu Toggle btn-->
                    <div class="menu-toggle">
                        <img class="nav_logo_img img-fluid" src="~/lib/app/images/header-logo.png" alt="header-logo.png">
                        <button type="button" id="menu-btn">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <a asp-controller="Home" asp-action="index" class="navbar_brand float-left dn-smd">
                        <img class="img-fluid mt10" src="~/lib/app/images/header-logo.png" alt="header-logo.png">
                    </a>
                    <!-- Responsive Menu Structure-->
                    <!--Note: declare the Menu style in the data-menu-style="horizontal" (options: horizontal, vertical, accordion) -->
                    <ul id="respMenu" class="ace-responsive-menu" data-menu-style="horizontal">
                        <li>
                            <a asp-action="Index" asp-controller="Home" ><span class="title">Home</span></a>
                           
                        </li>
                        <li>
                            <a asp-action="JobOffers" asp-controller="Home" ><span class="title">Job Offers</span></a>
                           
                        </li>
                        <li>
                            <a asp-action="Info" asp-controller="Home" ><span class="title">How It Works</span></a>
                          
                           
                        </li>
                        <li>
                            <a asp-action="About" asp-controller="Home" ><span class="title">About</span></a>
                           
                            
                        </li>
                        <li>
                            <a asp-action="Contact" asp-controller="Home"><span class="title">Contact Us</span></a>
                          
                        </li>
                       @if (User.IsInRole("Employer"))
                       {
                           <li class="last">
                               <a asp-action="PostJob" asp-controller="Employer" ><span class="title">Post a Job</span></a>
                           </li>
                       }
                       
                    </ul>
                    <partial name ="_SigninPartial" model="@("dn-smd")"/>
                </nav>
                <!-- End of Responsive Menu -->
            </div>
        </header>

        <!-- Main Header Nav For Mobile -->
        <div id="page" class="stylehome1 h0">
            <div class="mobile-menu">
                <partial name="_SigninPartial"  model="@("")"/>
                <div class="header stylehome1 dashbord_mobile_logo">
                    <img class="nav_logo_img img-fluid float-left mt25" src="~/lib/app/images/header-logo.png" alt="header-logo.png">
                    <a class="bg-thm" href="#menu"><span></span></a>
                </div>
            </div><!-- /.mobile-menu -->
            <nav id="menu" class="stylehome1">
                <ul>
                    <li>
                        <a asp-action="Index" asp-controller="Home" ><span class="title">Home</span></a>
                           
                    </li>
                    <li>
                        <a asp-action="JobOffers" asp-controller="Home" ><span class="title">Job Offers</span></a>
                           
                    </li>
                    <li>
                        <a asp-action="Info" asp-controller="Home" ><span class="title">How It Works</span></a>
                          
                           
                    </li>
                    <li>
                        <a asp-action="About" asp-controller="Home" ><span class="title">About</span></a>
                           
                            
                    </li>
                    <li>
                        <a asp-action="Contact" asp-controller="Home"><span class="title">Contact Us</span></a>
                          
                    </li>
                    @if (User.IsInRole("Employer"))
                    {
                        <li class="last">
                            <a asp-action="PostJob" asp-controller="Employer" ><span class="title">Post a Job</span></a>
                        </li>
                    }
                    
                  

                </ul>
            </nav>
        </div>


        @RenderBody()



        <!-- Our Footer -->
        <section class="footer_one home6">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-md-3 col-lg-2">
                        <div class="quick_link_widget">
                            <h4>Quick Links</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">Job Packages</a></li>
                                <li><a href="#">Post New Job</a></li>
                                <li><a href="#">Jobs Listing</a></li>
                                <li><a href="#">Jobs Style Grid</a></li>
                                <li><a href="#">Employer Listing</a></li>
                                <li><a href="#">Employers Grid</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-md-3 col-lg-3">
                        <div class="candidate_widget">
                            <h4>For Candidates</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">User Dashboard</a></li>
                                <li><a href="#">CV Packages</a></li>
                                <li><a href="#">Candidate Listing</a></li>
                                <li><a href="#">Candidates Grid</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-md-3 col-lg-3">
                        <div class="employe_widget">
                            <h4>For Employers</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">Post New</a></li>
                                <li><a href="#">Job Employer Listing</a></li>
                                <li><a href="#">Employers Grid</a></li>
                                <li><a href="#">Job Packages</a></li>
                                <li><a href="#">Jobs Listing</a></li>
                                <li><a href="#">Jobs Style Grid</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-6 col-md-3 col-lg-4">
                        <div class="newsletter_widget home6">
                            <h4>Newsletter</h4>
                            <p>Subscribe to CareerUp Pacific newsletter to get the latest jobs posted, candidates ,and other latest news stay updated.</p>
                            <form class="form-inline mailchimp_form">
                                <label class="sr-only" for="inlineFormInputMail2">Name</label>
                                <input type="email" class="form-control mb-2 mr-sm-2" id="inlineFormInputMail2" placeholder="Enter your email address">
                                <button type="submit" class="btn btn-primary mb-2"><span class="fa fa-paper-plane-o"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Our Footer Bottom Area -->
        <section class="footer_bottom_area home6 p0">
            <div class="container">
                <div class="row pt30 pb20">
                    <div class="col-lg-4">
                        <div class="copyright-widget tac-smd">
                            <p>© 2019 CareerUp. All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="footer_social_widget home6">
                            <ul>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <a class="scrollToHome text-thm" href="#"><i class="flaticon-rocket-launch"></i></a>
    </div>
<!-- Wrapper End -->
<script type="text/javascript" src="~/lib/app/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="~/lib/app/js/jquery-migrate-3.0.0.min.js"></script>
<script type="text/javascript" src="~/lib/app/js/popper.min.js"></script>
<script type="text/javascript" src="~/lib/app/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/lib/app/js/jquery.mmenu.all.js"></script>
<script type="text/javascript" src="~/lib/app/js/ace-responsive-menu.js"></script>
<script type="text/javascript" src="~/lib/app/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="~/lib/app/js/snackbar.min.js"></script>
<script type="text/javascript" src="~/lib/app/js/simplebar.js"></script>
<script type="text/javascript" src="~/lib/app/js/parallax.js"></script>
<script type="text/javascript" src="~/lib/app/js/scrollto.js"></script>
<script type="text/javascript" src="~/lib/app/js/jquery-scrolltofixed-min.js"></script>
<script type="text/javascript" src="~/lib/app/js/jquery.counterup.js"></script>
<script type="text/javascript" src="~/lib/app/js/wow.min.js"></script>
<script type="text/javascript" src="~/lib/app/js/progressbar.js"></script>
<script type="text/javascript" src="~/lib/app/js/slider.js"></script>
<script type="text/javascript" src="~/lib/app/js/timepicker.js"></script>
<!-- Custom script for all pages --> 
<script type="text/javascript" src="~/lib/app/js/script.js"></script>
@RenderSection("Scripts", required: false)
</body>

</html>

