﻿@using Microsoft.AspNetCore.Identity
@using Recruitement_App___BEZAO_Test.Interfaces
@model string
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IEmployerRepository Employer
@inject ICandidateRepository Candidate
@{
    var user = UserManager.GetUserAsync(User).Result;
    var imgUrl = "";
    if (User.IsInRole("Employer"))
    {
        imgUrl = Employer.GetEmployer(user.Id).Logo != null ? Url.Action("GetMedia", "Employer", new {id = user.Id}) : "/lib/app/images/team/e1.png";
    }
    else if (User.IsInRole("Candidate"))
    {
        imgUrl = Candidate.GetCandidate(user.Id).PhotoId != null ? Url.Action("GetMedia", "Candidate", new {id = user.Id}) : "/lib/app/images/team/e1.png";
    }
}


<form id="logoutForm"  asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
    
</form>
    
        @if (SignInManager.IsSignedIn(User))
        {
            <ul class="header_user_notif pull-right @Model">
                <li class="user_notif">
                    <div class="dropdown">
                        <a href="" data-toggle="dropdown"><span class="flaticon-alarm color-white fz20"></span><span>8</span></a>
                        <div class="dropdown-menu">
                            <div class="so_heading">
                                <p>Notifications</p>
                            </div>
                            <div class="so_content" data-simplebar="init">
                                <ul>
                                    <li>
                                        <h5>Candidate suggestion</h5>
                                        <p>You might be interested based on your profile.</p>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="user_setting">
                    <div class="dropdown">
                        <a class="btn dropdown-toggle" href="#" data-toggle="dropdown"><img class="rounded-circle" src="@imgUrl" alt="@(User.Identity.Name).jpg" width="54" height="54"> <span class="pl15 pr15">@User.Identity.Name</span></a>
                        <div class="dropdown-menu">
                            <div class="user_set_header">
                                <p>Hi, @User.Identity.Name! <br><span class="address">@user.Email</span></p>
                            </div>
                            <div class="user_setting_content">
                                

                                @if (User.IsInRole("Employer"))
                                {
                                    <a class="dropdown-item @ViewBag.Index" asp-action="Index" , asp-controller="Employer"><span class="flaticon-dashboard"></span> Dashboard</a>
                                    <a class="dropdown-item  @ViewBag.Profile" asp-action="Profile" asp-controller="Employer" title="Manage"><span class="flaticon-profile"></span>Profile</a>
                                    <a class="dropdown-item @ViewBag.PostJob" asp-controller="Employer" asp-action="PostJob" ><span class="flaticon-resume"></span> Post a New Job</a>
                                    <a class="dropdown-item @ViewBag.ManJobs" asp-controller="Employer" asp-action="ManageJobs" ><span class="flaticon-paper-plane"></span> Manage Jobs</a>

                                }
                                
                                @if (User.IsInRole("Candidate"))
                                {
                                    <a class="dropdown-item @ViewBag.Index" asp-action="Index" , asp-controller="Candidate"><span class="flaticon-dashboard"></span> Dashboard</a>
                                    <a class="dropdown-item  @ViewBag.Profile" asp-action="Profile" asp-controller="Candidate" title="Manage"><span class="flaticon-profile"></span>Profile</a>
                                    <a class="dropdown-item  @ViewBag.RevApp" asp-controller="Candidate" asp-action="AppliedJob"><span class="flaticon-paper-plane"></span> Review Applications</a>

                                }

                                <a class="dropdown-item" asp-area="Identity"  asp-page="/Account/Manage/ChangePassword"><span class="flaticon-locked"></span> Change Password</a>
                                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><span class="flaticon-logout"></span> Logout</a>
                                <a class="dropdown-item" href="#"><span class="flaticon-rubbish-bin"></span> Delete Profile</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
                           

        }
        else
        {
            <ul class="sign_up_btn pull-right dn-smd">
                
                <li class="nav-item">
                    <a  class="btn btn-md btn-transparent mt10" asp-area="Identity" asp-page="/Account/Login">Login</a>
           
                </li>
            </ul>
            
@*           <li><a href="#" class="btn btn-md btn-thm3" data-toggle="modal" data-target="#exampleModalCenter">Log<span class="dn-md">in</span>/Reg<span class="dn-md">ister</span></a></li> *@
            

        }
    