﻿
@model Recruitement_App___BEZAO_Test.Models.ViewModels.ApplicationViewModel
@{
    ViewData["Title"] = "Application";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
    
}

}
<!-- Our LogIn Register -->
<section class="our-log-reg bgc-fa mt40">
    <div class="container">
        @if (ViewBag.Msg != null)
        {
            <div class="ui_kit_message_box">
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    @ViewBag.Msg
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        }
        <div class="row d-flex justify-content-center">
            <div class="col-sm-12 col-lg-6 ">
                <div class="login_form">

                    <form method="post" asp-action="Submit" enctype="multipart/form-data">
                        <div class="heading">
                            <h3 class="text-center"> @(ViewBag?.Edit ?? $"Application") Form</h3>

                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="FullName" class="form-control" placeholder="Fullname">
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="Resume"> @if (ViewBag.Edit != null)
                                                 {@("Update Resume")}
                                                 else
                                                 { @("Upload Resume")} </label><br>

                            <input class="form-control" type="file" accept="application/pdf, application/vnd.ms-excel" id="Resume" name="Resume"  @if (ViewBag.Edit == null){@("required")}/>
                            @Html.ValidationMessage("Resume", new {@class = "text-danger"})
                        </div>
                        @if (ViewBag.Edit == null)
                        {
                            <div class="form-group form-check">
                                <input class="form-check-input" asp-for="TermsConditions">
                                <label class="form-check-label" asp-for="TermsConditions">By Registering You Confirm That You Accept <a class="text-thm" href="page-terms-and-policies.html">Terms & Conditions</a> And <a class="text-thm" href="page-terms-and-policies.html">Privacy Policy</a></label>
                                <span asp-validation-for="TermsConditions" class="text-danger"></span>
                            </div>
                        }

                        <input asp-for="AppId"/>
                        <input asp-for="CandidateId"/>
                        <input asp-for="JobId"/>

                        <button type="submit" class="btn btn-log btn-block btn-thm "> @if (ViewBag.Edit == null)
                        {@("Submit")}
                        else
                        {@("Update")}</button>
                        <br/>



                    </form>
                </div>
            </div>

        </div>
    </div>


</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        // extend range validator method to treat checkboxes differently
        var defaultRangeValidator = $.validator.methods.range;
        $.validator.methods.range = function (value, element, param) {
            if (element.type === 'checkbox') {
                // if it's a checkbox return true if it is checked
                return element.checked;
            } else {
                // otherwise run the default validation function
                return defaultRangeValidator.call(this, value, element, param);
            }
        }
    </script>

}
