﻿@model Recruitement_App___BEZAO_Test.Models.ViewModels.EmployerProfileViewModel
@{
	ViewData["Title"] = "Profile";
	Layout = "~/Views/Shared/_EmpAdminLayout.cshtml";
}


<div class="col-sm-12 col-lg-8 col-xl-9">
	@if (TempData["empMsg"] != null)
	{
		<div class="ui_kit_message_box">
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				@TempData["empMsg"]
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
	}
	<div class="my_profile_form_area employer_profile">
		<form method="post" asp-action="UpdateProfile" asp-controller="Employer" enctype="multipart/form-data">

			<div class="row">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="col-lg-12">
					<h4 class="fz20 mb20">My Profile</h4>
				</div>

				<div class="col-lg-12">
					<div class="my_profile_thumb_edit"></div>
				</div>

				<div class="col-md-6 col-lg-6">
					<div class="my_profile_input form-group">
						<label asp-for="CompanyName"></label>
						<input asp-for="CompanyName" class="form-control" disabled>
					</div>
				</div>
				<div class="col-md-6 col-lg-6">
					<div class="my_profile_input form-group">
						<label asp-for="UserName">Username</label>
						<input asp-for="UserName" class="form-control" disabled>
					</div>
				</div>
				<div class="col-md-6 col-lg-6">
					<div class="my_profile_input form-group">
						<label asp-for="PhoneNumber">Phone</label>
						<input asp-for="PhoneNumber" class="form-control" aria-describedby="phoneNumber" disabled>
					</div>
				</div>
				<div class="col-md-6 col-lg-6">
					<div class="my_profile_input form-group">
						<label asp-for="Email">Email address</label>
						<input asp-for="Email" class="form-control" disabled>
					</div>
				</div>
				
				<div class="col-md-6 col-lg-6">
					<div class="my_profile_select_box form-group">
						<label asp-for="IndustryId">Industry</label><br>

						<select class="form-control" asp-for="IndustryId" , asp-items="@(new SelectList(Model.Industries, "Id", "Name"))" disabled>
						</select>


					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="my_profile_select_box form-group">
						<label asp-for="Founded"></label><br>
						<input class="form-control" asp-for="Founded" />
						<span asp-validation-for="Founded" class="text-danger"></span>
					</div>
				</div>



				<div class="col-md-6 col-lg-6">
					<div class="my_profile_select_box form-group">
						<label asp-for="Capacity"></label><br>
						<input asp-for="Capacity" class="form-control" multiple data-actions-box="true" />

						<span asp-validation-for="Capacity" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-6 col-lg-6">
					<div class="my_profile_select_box form-group">

						@if (Model.Logo?.Content != null)
						{
							<label for="Logo">Change Logo</label><br>

							<input type="file" accept="image/*" id="Logo" name="Logo" />
						}
						else
						{
							<label for="Logo">Upload Logo</label><br>

							<input class="form-control" type="file" accept="image/*" id="Logo" name="Logo" required />
							@Html.ValidationMessage("Logo", new { @class = "text-danger" })

						}


					</div>
				</div>

				<div class="col-lg-12">
					<div class="my_resume_textarea mt20">
						<div class="form-group">
							<label asp-for="Bio">Bio</label>
							<textarea class="form-control" asp-for="Bio" rows="9">Spent several years working on sheep on Wall Street. Had moderate success investing in Yugo's on Wall Street. Managed a small team buying and selling Pogo sticks for farmers. Spent several years licensing licorice in West Palm Beach, FL. Developed several new methods for working it banjos in the aftermarket. Spent a weekend importing banjos in West Palm Beach, FL.In this position, the Software Engineer collaborates with Evention's Development team to continuously enhance our current software solutions as well as create new solutions to eliminate the back-office operations and management challenges present
										</textarea>
							<span asp-validation-for="Bio" class="text-danger"></span>
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<h4 class="fz18 mb20" asp-for="SocialAccounts"></h4>
				</div>
				<div class="col-md-6 col-lg-6">
					<div class="my_profile_input form-group">
						<label asp-for="SocialAccount.FaceBook">Facebook</label>
						<input asp-for="SocialAccount.FaceBook" class="form-control">
					</div>
				</div>
				<div class="col-md-6 col-lg-6">
					<div class="my_profile_input form-group">
						<label asp-for="SocialAccount.Twitter">Twitter</label>
						<input asp-for="SocialAccount.Twitter" class="form-control">
					</div>
				</div>
				<div class="col-md-6 col-lg-6">
					<div class="my_profile_input form-group">
						<label asp-for="SocialAccount.LinkedIn">Linkedin</label>
						<input asp-for="SocialAccount.LinkedIn" class="form-control">

					</div>
				</div>
				<div class="col-md-6 col-lg-6">
					<div class="my_profile_input form-group">
						<label asp-for="SocialAccount.Instagram">Instagram</label>
						<input asp-for="SocialAccount.Instagram" class="form-control">
					</div>
				</div>
				<div class="col-lg-12">
					<h4 class="fz18 mb20">Contact Information</h4>
				</div>
				<div class="col-md-6 col-lg-6">
					<div class="my_profile_select_box form-group">
						<label asp-for="Address.City">City</label><br>
						<input asp-for="Address.City" class="form-control">
						<span asp-validation-for="Address.City" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-6 col-lg-6">
					<div class="my_profile_select_box form-group">
						<label asp-for="Address.State">State</label><br>
						<input asp-for="Address.State" class="form-control">
						<span asp-validation-for="Address.State" class="text-danger"></span>

					</div>
				</div>

                <div class="col-md-6 col-lg-6">
                    <div class="my_profile_select_box form-group">
                        <label asp-for="Address.ZipCode">ZipCode</label><br>
                        <input asp-for="Address.ZipCode" class="form-control">
                        <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
                    </div>
                </div>
				
                <div class="col-md-6 col-lg-6">
                    <div class="my_profile_select_box form-group">
                        <label asp-for="Website"></label><br>
                        <input asp-for="Website" class="form-control">
                        <span asp-validation-for="Website" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-12">
					<div class="my_resume_textarea mt20">
						<div class="form-group">
							<label asp-for="Address.Street">Full Address</label>
							<textarea asp-for="Address.Street" class="form-control" rows="3"></textarea>
							<span asp-validation-for="Address.Street" class="text-danger"></span>
						</div>
					</div>
				</div>
				<input asp-for="EmployerId" class="form-control" type="hidden">
				<div class="col-lg-4">
					<div class="my_profile_input">
						<input type="submit" class="btn btn-lg btn-thm" value="Save Changes" />
					</div>
				</div>


			</div>
		</form>
	</div>
</div>

