﻿@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}


<section class="our-log-reg bgc-fa mt40">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <partial name="_StatusMessage" for="StatusMessage" />
            <div class="col-sm-12 col-lg-6 ">
                <div class="login_form">

                    <form method="post">
                        <div class="heading">
                            <h3 class="text-center">@ViewData["Title"]</h3>

                        </div>

                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="form-group">
                            <input asp-for="Input.OldPassword" class="form-control" placeholder="Old Password">
                            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.NewPassword" class="form-control" placeholder="Password">
                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-log btn-block btn-thm ">Update Password</button>
                        <br />



                    </form>
                </div>
            </div>

        </div>
    </div>


</section>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}