﻿
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<section class="about-section bgc-fa">
    <div class="container mt100">
        <div class="row">
            <div class="col-lg-6">
                <div class="about_content">
                    <h3>About Career up</h3>
                    <p class="color-black22 mt30">Every single one of our jobs has some kind of flexibility option - such as telecommuting a part-time schedule or a flexible or flextime schedule.</p>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum 'Content here, content here', making it look like readable English. <br><br>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will.
                    <a class="btn btn-thm mt15" href="#">View More<span class="fa fa-long-arrow-right pl10"></span></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about_thumb mt5">
                    <img class="img-fluid" src="~/lib/app/images/about/1.png" alt="1.png">
                </div>
            </div>
        </div>
    </div>
</section>

