﻿
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}




<!-- Home Design -->
<section class="home-six parallax ulockd_bgi3" data-stellar-background-ratio="0.3">
    <div class="container">
   
        <div class="row home-content">
            <div class="col-lg-8">
                <div class="home-text">
                    <h2 class="fz40">Find The Job That Fits Your Life</h2>
                    <p class="color-white">Each month, more than 7 million jobseekers turn to website in their search for work, making over 160,000 applications every day.</p>
                </div>
            </div>
            @if (TempData["appMsg"] != null)
            {
                <div class="ui_kit_message_box">
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        @TempData["appMsg"]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            }
            <div class="col-lg-12">
                <div class="home-job-search-box mt20 mb20">
                    <form class="form-inline" asp-action="JobOffers" method="get">
                        <div class="search_option_one">
                            <div class="form-group">
                                <label for="exampleInputName"><span class="flaticon-search"></span></label>
                                <input type="search" class="form-control h70" name="query" placeholder="Job Title or Keywords">
                            </div>
                        </div>
                        <div class="search_option_two">
                            <div class="form-group">
                                <label for="exampleInputEmail"><span class="flaticon-location-pin"></span></label>
                                <input type="search" name="city"  class="form-control h70"  placeholder="Location">
                            </div>
                        </div>
                        <div class="search_option_button">
                            <button type="submit"  class="btn btn-thm btn-dark h70">Search</button>
                        </div>
                    </form>
                </div>
                <p class="color-white">Trending Keywords: DesignCer, Developer, Web, IOS, PHP, Senior, Engineer</p>
            </div>
        </div>
    </div>
</section>

<!-- Features Job List Design -->
<section class="popular-job pb30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="feature_job_list row">
                    <div class="col-lg-12 text-center">
                        <div class="nav_container">
                            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Featured Jobs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Recent Jobs</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content col-lg-12" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            @await Component.InvokeAsync("FeaturedJobs")
                        </div>
                        <div class="tab-pane fade col-lg-12" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            @await Component.InvokeAsync("RecentJobs")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Browse Local Jobs -->
<section class="carrer-tips home6">
    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <h3>How We Can Help <br> You</h3>
                <p>Search all the open positions on the web. Get your own personalized salary estimate.</p>
            </div>
            <div class="col-xl-9">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="icon_box_home6">
                            <div class="icon text-thm4"><span class="flaticon-unlocked"></span></div>
                            <div class="details">
                                <h4>Create An Account</h4>
                                <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="icon_box_home6">
                            <div class="icon text-thm4"><span class="flaticon-job"></span></div>
                            <div class="details">
                                <h4>Search Jobs</h4>
                                <p>Browse profiles, reviews, and proposals then interview top candidates.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="icon_box_home6">
                            <div class="icon text-thm4"><span class="flaticon-interview"></span></div>
                            <div class="details">
                                <h4>Hire The Best One</h4>
                                <p>Use the Upwork platform to chat, share files, and collaborate from your desktop or on the go.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="icon_box_home6">
                            <div class="icon text-thm4"><span class="flaticon-trophy"></span></div>
                            <div class="details">
                                <h4>Save & Apply</h4>
                                <p>Use the Upwork platform to chat, share files, and collaborate from your desktop or on the go</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Popular Job Categories -->
@await Component.InvokeAsync("Categories")


<!-- Popular Job Categories -->
<section class="home6-divider">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="app_grid">
                    <h1 class="mt0">Download & Enjoy</h1>
                    <p>Search, find and apply for jobs directly on your mobile device or desktop Manage all of the jobs you have applied to from a convenience secure dashboard.</p>
                    <button class="apple_btn btn-transparent"><span class="flaticon-apple-big-logo"></span> App Store <br>Available now on the</button>
                    <button class="play_store_btn btn-transparent"><span class="flaticon-play-store"></span> Google Play <br>Get in on</button>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="phone_img">
                    <img class="img-fluid" src="lib/app/images/resource/phone_home6.png" alt="phone_home6.png">
                </div>
            </div>
        </div>
    </div>
</section>





<!-- Our Footer Top Area -->
@await Component.InvokeAsync("Counters")