﻿
@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<!-- How It Works -->

<section class="how-it-works bgc-fa">
    <div class="container mt100">
        <div class="row">
            <div class="col-md-6 col-lg-5 offset-lg-1">
                <div class="how_it_works_sn">
                    <div class="hiwc">1</div>
                    <div class="details">
                        <h4>Create An Account</h4>
                        <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 offset-lg-1">
                <div class="how_it_works_img">
                    <img class="img-fluid" src="~/lib/app/images/about/2.png" alt="2.png">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- How It Works -->
<section class="how-it-works">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 offset-lg-1">
                <div class="how_it_works_img2">
                    <img class="img-fluid" src="~/lib/app/images/about/3.png" alt="3.png">
                </div>
            </div>
            <div class="col-md-6 col-lg-5 offset-lg-1">
                <div class="how_it_works_sn2">
                    <div class="hiwc">2</div>
                    <div class="details">
                        <h4>Create An Account</h4>
                        <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="how-it-works bgc-fa">
    <div class="container ">
        <div class="row">
            <div class="col-md-6 col-lg-5 offset-lg-1">
                <div class="how_it_works_sn">
                    <div class="hiwc">3</div>
                    <div class="details">
                        <h4>Create An Account</h4>
                        <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 offset-lg-1">
                <div class="how_it_works_img">
                    <img class="img-fluid" src="~/lib/app/images/about/4.png" alt="4.png">
                </div>
            </div>
        </div>
    </div>
</section>