﻿@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
   
        Layout = "~/Views/Shared/_AppLayout.cshtml";

}


<section class="our-error bgc-fa">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <div class="error_page newsletter_widget">
                    <h1 class="text-danger">@ViewData["Title"]</h1>
                    <p class="text-danger">You do not have access to this resource.</p>

                </div>
                <a class="text-thm mt25" asp-page="Login">Login With Appropriate Account <span class="flaticon-right-arrow pl10"></span></a>
            </div>
        </div>
    </div>
</section>