﻿@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}


<section class="our-error bgc-fa">
<div class="container">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 text-center">
            <div class="error_page newsletter_widget">

                <h1>@ViewData["Title"]</h1>

                <partial name="_StatusMessage" model="Model.StatusMessage" />

            </div>
            <a class="text-thm mt25" asp-page="Login">Login <span class="flaticon-right-arrow pl10"></span></a>
        </div>
    </div>
</div>
</section>
