﻿@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<section class="our-error bgc-fa">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <div class="error_page newsletter_widget">
                    
                    <h4>Your Email is Confirmed</h4>
                    <p>You Can Now Login</p>
                    
                </div>
                <a class="text-thm mt25" asp-page="Login">Login <span class="flaticon-right-arrow pl10"></span></a>
            </div>
        </div>
    </div>
</section>