﻿@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}



<section class="our-error bgc-fa">
<div class="container">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 text-center">
            <div class="error_page newsletter_widget">

                <h1>@ViewData["Title"]</h1>
                <p>
                    Please check your email to reset your password.
                </p>
            </div>
            <a class="text-thm mt25" asp-controller="Home" asp-action="Index">Return Home <span class="flaticon-right-arrow pl10"></span></a>
        </div>
    </div>
</div>
</section>