﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}



<!-- Our LogIn Register -->
<section class="our-log-reg bgc-fa mt40">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-12 col-lg-6 ">
                <div class="login_form">

                    <form method="post" >
                        <div class="heading">
                            <h3 class="text-center">Quick Login</h3>
                            <p class="text-center">Don't have an account? <a class="text-thm" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign Up!</a></p>
                        </div>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="Input.Email" class="form-control" placeholder="Enter email">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.Password"  class="form-control" placeholder="Password">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">

                            <input asp-for="Input.RememberMe" class="form-check-input">
                            <label class="form-check-label" asp-for="Input.RememberMe"> @Html.DisplayNameFor(m => m.Input.RememberMe)</label>
                            <a class="tdu text-thm float-right" id="forgot-password" asp-page="./ForgotPassword">Forgot Password?</a>
                        </div>
                        <button type="submit" class="btn btn-log btn-block btn-thm ">Login</button>
                        <br/>

                        

                    </form>
                </div>
            </div>
            
        </div>
    </div>


</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
