﻿@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}


<section class="our-error bgc-fa">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <div class="error_page newsletter_widget">

                    <h1>@ViewData["Title"]</h1>
                    <p>
                        Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
                    </p>

                </div>
                <a class="text-thm mt25" asp-page="Login">Login <span class="flaticon-right-arrow pl10"></span></a>
            </div>
        </div>
    </div>
</section>