﻿@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}


<section class="our-log-reg bgc-fa mt40">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-12 col-lg-6 ">
                <div class="login_form">

                    <form method="post">
                        <div class="heading">
                            <h3 class="text-center">Reset your password.</h3>

                        </div>

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Input.Code" type="hidden" />
                        <div class="form-group">
                            <input asp-for="Input.Email" class="form-control" placeholder="Enter email">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.Password" class="form-control" placeholder="Password">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-log btn-block btn-thm ">Reset</button>
                        <br />



                    </form>
                </div>
            </div>

        </div>
    </div>


</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
