﻿@model IEnumerable<Industry>
@{
    Layout = null;
}

<<section class="popular-job bgc-fa">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ulockd-main-title text-center">
                    <h3 class="mt0">Job Categories</h3>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var category in Model)
            {
                <div class="col-sm-6 col-lg-3">
                    <a asp-controller="Home" asp-action="JobOffers" asp-route-category="@category.Name">
                        <div class="icon_hvr_img_box sbbg1">
                            <div class="overlay">
                                <div class="icon"><span class="@category.Icon"></span></div>
                                <div class="details">
                                    <h5>@category.Name</h5>

                                </div>
                            </div>
                        </div>
                    </a>
                   
                </div>

            }
        </div>
    </div>
</section>