﻿@model IEnumerable<Application>
@{
    Layout = null;
}

<div class="col-xl-8">
    <div class="recent_job_apply">
        <h4 class="title">Recent Apply Jobs <a class="text-thm float-right" asp-controller="Candidate" asp-action="AppliedJob" >Browse All Jobs <span class="flaticon-right-arrow"></span></a></h4>
    @foreach (var appForm in Model)
    {
        <div class="rj_grid">
            <h4 class="sub_title">@appForm.Job.Title</h4>
            <p class="text-thm float-left">@appForm.Job.Employer.CompanyName</p>
            <ul class="rj_post_address float-right">
                <li class="list-inline-item"><a href="#"><span class="flaticon-job"></span></a></li>
                <li class="list-inline-item">
                    <strong>Status:</strong> 
                    @switch (appForm.Approve)
                    {
                        case true:
                            <a href="#" class="text-success">Accepted</a>
                            break;
                        case false:
                            <a href="#" class="text-danger">Rejected</a>
                            break;
                        default:

                            <a href="#" class="text-info">Pending</a>
                            break;
                    }
                                               
                                            
                </li>


                @if (appForm.Approve != null)
                {
                    if (appForm.Approve != false)
                    {
                        <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Approved"><span class="flaticon-trophy"></span></a></li>
                    }
                    else
                    {
                        <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Rejected"><span class="flaticon-404"></span></a></li>
                    }

                }
                else
                {
                    <li class="list-inline-item"><a asp-controller="Employer" asp-action="ReviewAppForm" asp-route-id="@appForm.Id" data-toggle="tooltip" data-placement="top" title="Edit"><span class="flaticon-edit"></span></a></li>
                               
                }
                <li class="list-inline-item"><a asp-controller="Home" asp-action="JobOffer" asp-route-id="@appForm.JobId" data-toggle="tooltip" data-placement="top" title="View"><span class="flaticon-eye"></span></a></li>

            </ul>
        </div>
    }
     
    </div>
</div>